@{
    ViewData["Title"] = "Idea Details";
}


@model WrapperModel
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Ideas">BrightIdeas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row" id="b">
    <div class="col-10 offset-1">
    <div class="jumbotron">
        <h3><a href="/DisplayUser/@Model.NewIdea.Creator.UserId">@Model.NewIdea.Creator.Alias</a></h3>
        <p> Idea: @Model.NewIdea.Text</p>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <h3>People who liked this post:</h3>
        <table class="table table-hover table-striped">
            <thead class="thead thead-dark">    
                <th>Alias</th>
                <th>Name</th>
            </thead>
            @{
                foreach(Like likes in Model.NewIdea.IdeaLikes)
                {
                    <tr>
                        <td><a href="/DisplayUser/@likes.Alias.UserId">@likes.Alias.Alias</a></td>
                        <td>@likes.Alias.Name</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>